.formContainer {
  padding: 24px;
  border: 1px solid #10182833;
  border-radius: 10px;
}
.formHeader {}
.formTitle {}
.formDescription {}
.inputsWrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}
.input {
  border-radius: 10px;
  border: none;
  padding: 18px;
  background-color: var(--color-inputs);
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  outline: none;
}

.input::placeholder {
  color: rgba(16, 24, 40, 0.6);
}
.textArea {
  border-radius: 10px;
  border: none;
  padding: 18px;
  background-color: var(--color-inputs);
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  outline: none;
  height: 114px;
  resize: none;
}

.textArea::placeholder {
  color: rgba(16, 24, 40, 0.6);
}
.btnSubmit {
  border-radius: 200px;
  padding: 16px 60px;
  background-color: var(--color-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border: none;
}

.btnSubmit:hover,
.btnSubmit:focus {
  background-color: var(--color-button-hover);
}

.btnSubmit:disabled {
  cursor: not-allowed;
}

.btnSubmit:disabled:hover,
.btnSubmit:disabled:focus {
  background-color: var(--color-button);
}
.message {
  color: var(--secondary-red);
  font-size: 14px;
}