.filterContainer {
  min-width: 360px;
}
.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
.label {
  color: rgba(16, 24, 40, 0.6);
}
.inputContainer {
  position: relative;
}
.input {
  border-radius: 10px;
  border: none;
  padding: 18px 40px 18px;
  background-color: var(--color-inputs);
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  outline: none;
  width: 78%;
}

.input:focus + .svgMap {
  opacity: 1;
}

.input::placeholder {
  color: rgba(16, 24, 40, 0.6);
}
.svgMap {
  position: absolute;
  fill: transparent;
  stroke: var(--color-main);
  opacity: 0.6;
  left: 18px;
  top: 32%;
}
.filterSection {
  margin-bottom: 64px;
}
.filterTitle {
  margin-bottom: 14px;
  font-weight: 500;
}
.equipmentList {
  display: flex;
  gap: 8px 10px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.equipmentTitle {
  margin-bottom: 48px;
}
.typeTitle {
  margin-bottom: 48px;
}
.typeList {
  display: flex;
  gap: 10px;
}
.buttonSearch {
  border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  background-color: var(--color-button);
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border: none;
}

.buttonSearch:hover,
.buttonSearch:focus {
  background-color: var(--color-button-hover);
}